<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%= link_to "Edit ingredients", new_cocktail_dose_path(@cocktail) %>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %> : <%= dose.description %></li>
    <% end %>
  </ul>
</div>

